html, body {
	background-color: lightgray;
	margin: 0;
	padding: 0;
}

.top-header {
	background-color: rgb(57,57,57);
	margin-top: -30px;
	width: 100%;
	position: fixed;
}

.menu-item {
	color: white;
	padding: 15px;
	display: inline-block;
	text-decoration: none;
}

.brand {
	font-size: 18px;
	font-weight: 600;
}

.main-content {
	max-width: 700px;
	margin: auto;
}

.box {
	background-color: white;
	padding: 20px;
	margin: 30px;
}

.image {
	width: 100%;
}

.button {
	color: black;
	background-color: lightgray;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
}

.bottom-footer {
	background-color: skyblue;
	padding: 20px;
	text-align: center;
}
